/* GENERICS */

body{
	font-family: 'Poppins', sans-serif;
	width: 100vw;
}

/* head */

header{
	width: 100vw;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: fixed;
	background-color: white;
	z-index: 1;
	
}

.nav{
	display: flex;
	align-items: center;
	gap: 20px;
}

#logo-small{
	width: 90px;
}

/* MAIN */

main{
	padding-top: 70px;
}

/* JUMBOTRON */

.jumbotron{
	background-color: #B4D0E7;
	width: 100vw;
	height: 80vh;
}

.big-container.jumbo{
	position: relative;
	top: 20px;
}

h1{
	font-size: 70px;
	margin-bottom: 20px;
}

.flex{
	display: flex;
}

.text{
	width: calc(100% / 3 );
	display: flex;
	flex-direction: column;
	gap: 20px;
	
	/* debug */
	/* border: 2px dashed red; */
}

.arrow{
	margin-top: auto;
	margin-bottom: 110px;
	font-size: 50px;
}

.img-jumbo{
	width: calc(100% / 3 * 2);

	/* debug */
	/* border: 2px dashed red; */
}

/* CONTENT */

/* COLONNE */

.small-container.top{
	margin-top: 150px;
}

h2{
	font-size: 50px;
}

.radio{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid gray;
}

.radio.checked{
	border: 5px solid var(--main-color);

}

.fatturazione>div{
	display: inline-block;
}

.fatturazione>p{
	display: inline-block;
	vertical-align: middle;
}

.fatturazione{
	display: inline-block;
	margin-top: 40px;
	margin-right: 50px;


	line-height: 30px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 50px;
}

.col{
	width: calc(100% / 3 - 20px);
}

.col.border{
	border: 1px solid gray;
}

.title{
	border-bottom: 1px solid gray;
	text-align: center;
	margin: auto;
}

.text-area{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

.fa-check{
	color: var(--main-color);
}

.a-colored{
	color: var(--main-color);
	text-decoration:underline;
}

.text-gray{
	color: gray;
}

.border-bottom{
	width: 30px;
	border-bottom: 1px solid gray;
}

.row-bottom{
	width: 100%;
	margin-top: 50px;
	padding: 10px;
	border: 1px solid gray;
}

.l-col{
	width: calc(100% / 3 * 2 - 20px);
}

.s-col{
	width: calc(100% / 3 );
}

h3{
	font-size: 30px;
}

/* Dropbox Bussiness */

h4{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.important-title{
	margin-top: 100px;
}

/* LOGOS */

.row-logos{
	display: flex;
	margin-top: 100px;
}

.sponsor{
	width: calc(100% / 3);
	display: flex;
	flex-wrap: wrap;
}

.logos{
	width: 16.4vw;
	height: 16.4vw;
	text-align: center;
	position: relative;
}

.sponsor.text{
	padding: 20px;
}


.logos img{
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: invert(1);
}

/* colors */

.l-green{
	background-color:#a2d39b ;
}

.brown{
	background-color:#61082b ;
}

.l-blue{
	background-color:#0093ce ;
}

.orange{
	background-color:#ff1c1c ;
}

.red{
	background-color:#d5001f ;
}

.v-l-blue{
	background-color: #0d2481;
}

.blue{
	background-color: #b4d0e7;
}

.yellow{
	background-color: #ffd830;
}

.logo-black{
	width: 16.4vw;
	text-align: center;
	position: relative;
}



/* bg-gray */

.QeA{
	margin-bottom: 100px;
}

.bg-gray{
	background-color: #B4D0E7;
	width: 100%;
	height: 200px;
	padding-bottom: 10px;
}

.gray-container{
	padding: 30px;
}

h5{
	font-size: 30px;
	color: #61082b;
}

/* Q&A */

.QeA{
	margin-top: 40px;
}

.domanda{
	padding: 20px 0;
	margin-top: 10px;
	border-top: 1px solid gray;
	position: relative;
}

.domanda.down{
	border-bottom: 1px solid gray;
}

.domanda.top{
	margin-top: 50px;
}

.question{
	font-size: large;
	display: inline-block;
}

.chevron{
	position: absolute;
	right: 50px;
}

.d-none{
	margin-top: 20px;
	display: none;
}


/* FOOTER */

.footer{
	background-color: black;
	color: white;
}

.nav{
	display: flex;
	padding: 20px 0;
}

.footer-col {
	width: 25%;
	padding: 30px;
	line-height: 40px;
}

.footer-end{
	padding: 30px;
}

.border-bottom-white{
	border-bottom: 1px solid white;
	width: 50px;
	margin-bottom: 50px;
}