/* GENERICS */

body{
	font-family: 'Poppins', sans-serif;
}

/* head */

ul>li{
	display: inline-block;
}

header{
	width: 100vw;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;


	/* debug */
	/* border: 2px dashed black; */
	background-color: white;
}

.nav{
	display: flex;
	align-items: center;
	gap: 20px;
	

	/* debug */
	/* border: 2px dashed red; */
}

#logo-small{
	width: 90px;
}

/* MAIN */


/* JUMBOTRON */

.jumbo{
	background-color: #B4D0E7;
	width: 100vw;
	height: 80vh;
	padding-top: 20px;
}

h1{
	font-size: 70px;
}

.flex{
	display: flex;
}

.text{
	width: calc(100% / 3 );
	padding-top: 30px;
	
	/* debug */
	/* border: 2px dashed red; */
}

.img{
	width: calc(100% / 3 * 2);

	/* debug */
	/* border: 2px dashed red; */
}

.jumbo-img{
	position: relative;
	top: 30px;
}

/* CONTENT */

h2{
	font-size: 50px;
}

.radio{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: gray;
	border: 5px solid blue;
}

.fatturazione>div{
	display: inline-block;
}

.fatturazione>p{
	display: inline-block;
}

.fatturazione{
	display: inline-block;
	margin-top: 40px;
	margin-right: 50px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 50px;
}

.col{
	width: calc(100% / 3 - 20px);
	border: 1px solid gray;
	padding: 10px;
}

.title{
	border-bottom: 1px solid gray;
	text-align: center;
	margin: auto;
}

.row-bottom{
	width: 100%;
	margin-top: 50px;
	padding: 10px;
	border: 1px solid gray;
}

.l-col{
	width: calc(100% / 3 * 2 - 20px);
}

.s-col{
	width: calc(100% / 3 );
}

h3{
	font-size: 30px;
}

/* Dropbox Bussiness */

h4{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.important-title{
	margin-top: 100px;
}

/* LOGOS */

.row-logos{
	display: flex;
	margin-top: 100px;
}

.sponsor{
	width: calc(100% / 3);
	display: flex;
	flex-wrap: wrap;

	/* debug */
	border: 1px dashed red;
}

.logos{
	width: 16.4vw;
	height: 16.4vw;
	text-align: center;
	position: relative;
	background-color: #FF495F ;

	/* debug */
	border: 1px dashed blue;
}

.sponsor.text{
	padding: 20px;
}

.sponsor img{
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}