/* Utils */
:root{
	--main-color: #0967FE;
}

.big-container {
	max-width: 70%;
	margin: 0 auto;
}

.small-container {
	max-width: 60%;
	margin: 0 auto;
}

button{
	background-color: var(--main-color);
	color: white;
	padding: 10px 20px;
	border: none;
	align-self: start;
}

.btn-white{
	background-color: white;
	color: black;
	border: 2px solid black;
}

.btn-black{
	background-color: white;
	color: black;
}

ul, li, a{
	display: inline-block;
}