/* Utils */

.big-container {
	max-width: 70%;
	margin: 0 auto;
}

.small-container {
	max-width: 60%;
	margin: 0 auto;
}

button{
	background-color: #0967FE;
	color: white;
	padding: 10px 20px;
	border: none;
	align-self: start;
}

ul, li, a{
	display: inline-block;
}